<html>
<head>
  <title>Musicapp Management</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
    }
    .button-container {
      display: flex;
      justify-content: space-evenly;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Musicapp Management, how may I help you?</h1>
  <div class="button-container">
    <a href="{% url 'create' %}" class="button">Create Artiste</a>
    <a href="{% url 'show' %}" class="button">View/Edit/Delete Artistes</a>
  </div>
</body>
</html>
